*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #00a6f9;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.grid{
    padding: 5px 80px;
}