*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.Container{
    display: flex;
    height: 100vh;
}
.left{
    flex: 1;
    background-color:rgb(230, 242, 255);
}
.right{
    flex: 1;
}
/* img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.background{
    min-height: 600px;
    background: url('./img/background.png') no-repeat top left;
    background-size: contain;
}

.info_logo{
    display: flex;
    margin: 80px 0 30px 0;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.brand_info{
    color:rgb(7, 103, 177);
}
.logo{
    display: flex;
    justify-content: center;
    
}
